body {
}
#title_categoria
{
	font-family: Verdana;
	font-weight:bold;
	font-size: 12pt;
	padding: 30px 0 15px 12px;
}
#li_grid_container
{
	font-family: Verdana;	
	padding-left: 12px;
}
.row_list_separator
{
	padding-bottom: 10px;
}
#link_pequeno
{
    padding: 0 0 5px 12px;
    font-size: 12pt;
    font-family: Verdana;	    
}
#link_pequeno a
{
    font-size: 7pt;
}
#link_pequeno a:hover
{
    font-size: 7pt;
    color:Black;
}